// ### Primary

$builder-color: hsl(0, 78%, 62%);
$builder-color-nav: rgba(234, 83, 83, 0.5);
$supervisior-color: hsl(180, 62%, 55%);
$supervisior-color-nav: rgba(69, 211, 211, 0.5);
$karma-color: hsl(34, 97%, 64%);
$karma-color-nav: rgba(252, 175, 74, 0.5);
$calculator-color: hsl(212, 86%, 64%);
$calculator-color-nav: rgba(84, 158, 242, 0.5);

// ### Neutral

$text-color: hsl(234, 12%, 34%);
$text-lightcolor: hsl(229, 6%, 66%);
$bg-color: hsl(0, 0%, 98%);
$border-color: rgba(76, 78, 97, 0.3);
